.wrapper{
    width: 100%;
    height: auto;
    background:#c5c5c5c5;
    text-align: center;
    z-index: 0;
}

.wrapper .btn-export{
    display: inline-block;
    margin: 40px 0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #2a95dd;
}

.modal-wrapper{
    position: relative;
    z-index: 2;    
}

.modalExport{
   width: 50%;
   height: auto;
   margin: 40px auto;
   padding: 40px 20px;
   background:#ffffff;
   opacity: 1;   
   z-index: 2;  
}

.modal-backdroop{
    position: fixed;
    background: #000000;
    opacity: 0.5;  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#myProgress{
   width: 100%;
   background:#c5c5c5c5;
}

#myBar{
   width: 1%;
   height: 20px;
   background:#2a95dd;
   text-align: center;
}
#myBar .counter{
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}
.modalExport p{
    color: #000000;
}

#exportValue p{
    color: #000000;
}