.wrapper{
   width: 100%;
   height: auto;
   background:#c5c5c5c5;
   text-align: center;
   z-index: 0;
}

.wrapper .btn-export{
    padding: 10px 20px;
    background-color: #2a95dd;
    color: #ffffff;
    display: inline-block;
    margin: 40px 0;
}

.modal-wrapper{
width: 100%;
background: #000000;
opacity: 0.5;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.modalExport{
   width: 50%;
   height: auto;
   background:#ffffff;
   margin: 40px auto;
   z-index: 2;
   padding: 40px 20px;
   opacity: 1;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#myProgress{
   width: 100%;
   background:#c5c5c5c5;
}

#myBar{
   width: 1%;
   height: 20px;
   background:#2a95dd;
   text-align: center;
}
#myBar .counter{
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}
.modalExport p{
    color: #000000;
}

#exportValue p{

    color: #000000;
}